/*HEADER*/
header {
	opacity: 0.8;
	background-color: black;
}
nav ul li {
	padding: 30px;
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	border-radius: 70%;
	line-height: 5px;
	border-right: 1px solid white;
	display: inline-block;
}
a:visited {
	color: white;
}
a:link {
  text-decoration: none;
}
nav ul li a:hover {
  background-color: black;
  color: #45E5FF;
}
nav ul li a {
  color: black;
}
h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}	
div ul li {
	font-size: 20px;
}
.height {
	margin-top: 80px;
	margin-bottom: 30px;
}
.contact ul li {
	display: inline-block;
	padding: 10px;
	font-size: 18px;	
}
.navbar {
	width: 1410px;
	text-align: center;
	margin: 20px;
}	
.contact {
	font-family: 'Indie Flower', cursive;
	width: 1410px;
	height: 80px;
	background-color: white;
	color: black;
	margin-bottom: 5px;
}
/*SLIDER*/
div h1 {
	background-color: black;
	color: white;
	text-align: center;
	opacity: 0.8;
	font-family: 'Indie Flower', cursive;
}
/*FOOTER*/
footer {
	font-size: 20px;
	background-color: black;
	color: white;
	opacity: 0.8;
	font-family: 'Indie Flower', cursive;
	line-height: 70px;
}
ul {
	list-style-type: none;
}
.container {
	font-size: 18px;
} 
.rounded {
	border: 2px solid black;
}
.img-circle {
	height: 250px;
} 
.fa-envelope {
	color: black;
}
.cadre {
	background-color: black;
	color: white;
	opacity: 0.8;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.parent {
	height: 250px;
	width: 260px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
}
.hidden_message{
	display:none;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	border-radius: 50%;
	font-family: 'Indie Flower', cursive;
	margin:auto;
	top: 0;
	left: 0;
	width: 100%;
	color: #45E5FF;
	padding-top: 80px;
	font-size: 35px;
}
.hidden_message p {
	margin: 20px;
	text-align: center;
}
.parent:hover .hidden_message{
	display: block;
}

